# Dependências
node_modules/

# Variáveis de ambiente
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Build
dist/
build/

# Editores
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
